{% load static %}
<html>
    <body>
        {% include 'adminhomepage.html' %}
    <table style="background-color:#5a6778;color: white " border="1" align="center">
  <thead>
  <tr><th colspan="4" style="text-align: center"><h2 style="color: white">View Share Market Information</h2></th></tr>
    <tr>
      <th scope="col" width="200px">Username</th>
      <th scope="col" width="200px">Company NAme</th>
      <th scope="col" width="200px">Share Value</th>
      <th scope="col" width="300px">Description Of share</th>
    </tr>
  </thead>
  <tbody>
  {% if reg %}
  {% for x in reg %}
      <tr>
      <td>{{ x.Username }}</td>
      <td>{{ x.Company_name }}</td>
      <td>{{ x.ShareValue }}</td>
      <td>{{ x.Description }}</td>
    </tr>

  {% endfor %}
      {% else %}
      <th style="text-align: center" colspan="5">NO Record Available</th>
  {% endif %}

  </tbody>
</table>
    </body>
</html>
